
  svg {
    width: 800px;
    height: 100%;
    padding: 50px;
  }
  
  line {
    stroke-width: .5;
    stroke: #fff;
  }
  
  #wave {
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #56acf4;
  }