

.Header{
    background-color:$header_bg_color;
    text-align:center;
}
.header-logo-img{
    color: black;
    width: 464px;
    height: 97px;
}
#intt {
    height: 10px;
    margin: 15px 10% 30px 10%;
    background-color: #b2fbae;
    width: 85%;
}